<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>Aug 2021 - Feb 2022</p>
                        <div class="h5">Higher Learning</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Higher Learning</div>
                        <h4 class="category">Moringa School
                        </h4>
                        <ul>
                            <li>Underwent a  technical education curriculum with life skill development and practical experience.
                            </li>

                            <li>
                                Earned a certificate for being a certified fullstack <b> Software Developer</b>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2016 - 2020</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Business Information Technology</div>
                        <h4 class="category">Jomo Kenyatta University of Agriculture and Technology
                        </h4>
                        <ul>
                            <li> Situated in Juja, 36 kilometres North East of Nairobi, along Nairobi-Thika Highway, It's one of the 
                                best University's in Kenya <b>ranks 5th</b></li>
                            <li>Completed B.E in Business Information Technology with a <b>Second class honors</b>.</li>
                            <li>Maintained a score of <b>above average</b> in every semester of college academic .</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012 - 2015</p>
                        <div class="h5">Higher Secondary</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Higher Secondary</div>
                        <h4 class="category">Weithaga Boys High School
                        </h4>
                        <ul>
                            <li>
                                Based on the central part of Murang'a County, this is one of the best extra county schools
                                in the region with a mean grade of above average.
                            </li>
                            <li>
                                It's a boys' only boarding school
                            </li>
                            <li>
                                Completed my high school with a<b> B-</b> grade.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2004 - 2011</p>
                        <div class="h5">Primary School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Primary School</div>
                        <h4 class="category">Kiumu Primary
                        </h4>
                        <ul>
                            <li>Underwent all eight years of primary school at Kiumu
                                Primary School.
                            </li>

                            <li>
                                Completed my Primary school with an <b>average score</b>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
